@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  font-family: "Open sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1, h2 {
  font-family: "Open sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

.avatar .avatar-image {
  width: 12em;
  height: 12em;
}
.container {
  margin: 0.5em;
}

/**
 * Styling voor accepteer/weiger knoppen
 */
.button-accept, .button-decline {
  font-size: 4em;
  font-weight: 300;
  border: 1px solid black;
  display: inline-block;
  padding: 0.2em;
  border-radius: 5em;
}
.button-accept:hover,
.button-accept:active,
.button-decline:hover,
.button-decline:active {
  text-decoration: none;
}
.button-accept {
  color: green;
}
.button-decline {
  color: #800000;
}

h2 {
  font-size: 20px;
  color: #cc9900;
  display: inline-block;
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 1px solid #cc9900;
}

/**
 * Styling voor lijstjes met capaciteiten etc.
 */
.requirements-list {
  list-style: none;
  padding-left: 0;
}

.requirements-list li {
  display: block;
  padding: 0.3em;
  border-bottom: 1px solid #ccc;
}

.requirements-list li:first-of-type {
  border-top: 1px solid #d8d8d8;
}

.requirements-icon {
  float: right;
  height: 1.2em;
  width: 1.2em;
}

.delete-icon {
  float: right;
  height: 1.2em;
  width: 1.2em;
}

/**
 * Navigation
 */
.navigation {
  width: 100%;
  margin:0;
  padding: 0.2em 1em 0em 1em;
  box-shadow: inset 0px -4px 4px #ddd;
}

.navigation-button {
  font-size: 1.2em;
  color: inherit;
}
.navigation-button:hover,
.navigation-button:active {
   text-decoration: none;
}